{% extends "base.html" %}

{% block mycontent %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<table>
  <tr valign="top">
      <td><img src="{{ user.avatar(128) }}"></td>
  </tr>
</table>
<hr>
{% for post in posts %}
<table>
  <tr valign="top"></tr>
      <td><img src="{{ post.author.avatar(36) }}"></td>
  </tr>
</table>    
{% endfor %}
<a class="navbar-brand" href="{{ url_for('messages') }}"> 
  {{ ('New Private Messages') }}
  <span class="badge badge-primary">
    {{ user.num_new_private_messages }}
  </span>
</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="jumbotron">
        <h1 class="display-4">Name: {{ user.name }}</h1>
        <p class="lead">Username: {{ user.username }}</p>
        <p class="lead">Email: {{ user.email }}</p>
        {% if user == current_user %}
          <p><a href="{{ url_for('editProfile') }}">Edit your profile</a></p>
        {% endif %}
        <hr class="my-4">
        <p class="lead">[Bio:] {{ user.changebio }}</p>
        <p class="lead">
          <a href="/delete"><button type="button" class="btn btn-warning">
            Delete Account
          </a></button>
        </p>
    </div>
    <div>
      <h1>
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
      </h1>
    </div>
</nav>
{% endblock %}