{% extends "base.html" %}

{% block mycontent %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="jumbotron">
        <h1 class="display-4">Name: {{ user.name }}</h1>
        <p class="lead">Username: {{ user.username }}</p>
        <p class="lead">Email: {{ user.email }}</p>
        <p class="lead">Placeholder</p>
        <hr class="my-4">
        <p>Placholder</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">DeleteAccount</a>
        </p>
    </div>
</nav>

{% endblock %}